{% load static %}
<body class="d-flex flex-column min-vh-100">
<footer class="footer mt-auto bg-dark text-light">
  <section class="lastpart">
    <div class="container">
      <div class="details">
        <div class="name col-mb-2">
          <h6 ><i class="fas fa-gem me-3"></i>HardwarePickerBD</h6>
        </div>
        
        <div class="pro col-mb-5">
          <h6>Features</h6>
          <p><a href="{% url 'cpu' %}">Builder</a></p>
          <p><a href="{% url 'guide_list' %}">Guides</a></p>
          <p><a href="{% url 'blog' %}">BuildHub</a></p>
        </div>
        <div class="account col-mb-5">
          <h6>Get In Touch</h6>
          <p><a href="">About Us</a></p>
          <p><a href="">Contact</a></p>
        </div>
    </div>
  </section>
  <div class=" copy text-center p-4" style="color: rgb(246, 239, 239);">
    ©Samir,Sadia,Riya,Ahasan
  </div>
</footer>
</body>
<!-- Footer -->