{% load static %}
<body class="d-flex flex-column min-vh-100">
<footer class="footer mt-auto bg-dark text-light">
  <section class="lastpart">
    <div class="container">
      <div class="details">
        <div class="name col-mb-2">
          <h6 class="text-uppercase fw-bold mb-2"><i class="fas fa-gem me-3"></i>Company name</h6>
        </div>
        
        <div class="pro col-mb-5">
          <h6>Features</h6>
          <p><a href="{% url 'cpu' %}">Builder</a></p>
          <p><a href="#">Guides</a></p>
          <p><a href="#">Build Hub</a></p>
        </div>
        <div class="account col-mb-5">
          <h6>Get In Touch</h6>
          <p><a href="">About Us</a></p>
          <p><a href="">Contact</a></p>
        </div>
    </div>
  </section>
  <div class=" copy text-center p-4" style="color: rgb(246, 239, 239);">
    ©2024 PCPartPicker, LLC. All rights reserved.
  </div>
</footer>
</body>
<!-- Footer -->