{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--build part start here-->
    <section>
        <div class="container">
            <div class="build">
                <h1>Pick Parts. Build Your PC. <br> Compare and Share.</h1>
                <p>We provide part selection, pricing, and compatibility guidance for <br> do-it-yourself computer builders.</p>
                <a href="{% url 'builder' %}" class="btn">Start Your Build</a>
            </div>
        </div>
    </section>
      <!--build part end here-->




      <!--guides part start here-->
      <section>
        <div class="guid">
          <div class="container">
            <div class="row">
              <div class="budgets col-md-3">
                <h1>Build Guides</h1>
                <p>Building your own PC and <br> need ideas on where to get <br> started? Explore our build <br> guides which cover systems <br> for a variety of use-cases and <br> budgets.</p>
                <a href="" class="btn">View Buid Guides</a>
              </div>
              <div class="pc col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <h5>Entry Level Intel Gaming Build</h5>
                <p>Intel Core i3-12100F</p>
                <p>Parametric Video Card (Chipset: Radeon RX 6600)</p>
                <p>Fractal Design Pop Mini Air MicroATX MId Tower</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
              <div class="pc col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <h5>Entry Level Intel Gaming Build</h5>
                <p>Intel Core i3-12100F</p>
                <p>Parametric Video Card (Chipset: Radeon RX 6600)</p>
                <p>Fractal Design Pop Mini Air MicroATX MId Tower</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
              <div class="pc col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <h5>Entry Level Intel Gaming Build</h5>
                <p>Intel Core i3-12100F</p>
                <p>Parametric Video Card (Chipset: Radeon RX 6600)</p>
                <p>Fractal Design Pop Mini Air MicroATX MId Tower</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--guides part start here-->

      <!--completed part start here-->
      <section>
        <div class="complete">
          <div class="container">
            <div class="row">
              <div class="experience col-md-3">
                <h1>Completed Builds</h1>
                <p>Browse thousands of PC <br> builds generated by users <br> showing their partlist, photos <br> and overall build experience.</p>
                <a href="" class="btn">View Completed Builds</a>
              </div>
              <div class="feature col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <a href="">DuckButtockGoesKwek</a>
                <h5>Gamer Artist Fractal Terra</h5>
                <p>AMD Ryzen 5 7600X</p>
                <p>GeForce RTX 4070 Ti SUPER</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="mark">
                    <p><i class="fa-regular fa-message"></i>45</p>
                  </div>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
              <div class="feature col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <a href="">DuckButtockGoesKwek</a>
                <h5>Gamer Artist Fractal Terra</h5>
                <p>AMD Ryzen 5 7600X</p>
                <p>GeForce RTX 4070 Ti SUPER</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="mark">
                    <p><i class="fa-regular fa-message"></i>45</p>
                  </div>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
              <div class="feature col-md-3">
                <img src="{% static 'image/img1.jpg' %}" alt="">
                <a href="">DuckButtockGoesKwek</a>
                <h5>Gamer Artist Fractal Terra</h5>
                <p>AMD Ryzen 5 7600X</p>
                <p>GeForce RTX 4070 Ti SUPER</p>
                <span></span>
                <div class="value">
                  <p>$568.41</p>
                  <div class="mark">
                    <p><i class="fa-regular fa-message"></i>45</p>
                  </div>
                  <div class="comment">
                    <p><i class="fa-regular fa-message"></i>131</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--completed part start here-->


{% endblock %}