{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4 mb-4" style="padding-top: 0;">
    <div class="row">
    <!-- Filter Section -->
        <div class="col-md-3">
            <div class="table-container">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>Filter By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Price (high to low)</td></tr>
                            <tr><td>Price (low to high)</td></tr>
                            <tr><td>Alphabetical Order(A-Z)</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Product Display Section -->
        <div class="col-md-9">
            <div class="row g-4">
                {% for item in psu %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card h-100 shadow-sm">
                            <img src="{{ item.photo.url }}" alt="{{ item.name }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text text-muted">{{ item.shop }}</p>
                                <p class="card-text">{{ item.price }}৳</p>
                                <a href="{% url 'cpu_cooler_detail' item.id %}" class="btn btn-primary">View Details</a>
                                <a class="btn btn-danger mx-2" type="button" href="#">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        
    </div>
</div>

{% endblock %}
